.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-body{
  min-height: 93vh;
  background-color: #282c34;
  color: white;
}

.App-link {
  color: #61dafb;
}

.Stats-window{
  background-color: rgb(55, 65, 83);
}

.Navigation-window{
  background-color: rgb(55, 65, 83);
}

.Action-window{  
  background-color: rgb(55, 65, 83);
}

.Resource-window{  
  background-color: rgb(55, 65, 83);
}

